.margintDefault{
  margin-top: 60px;
}

.marginbDefault{
  margin-bottom: 60px;
}

header{
  background: #802c6e;
  padding: 5px 0;
}

.navbar-brand img{
  filter: brightness(0) invert(1);
}

a.nav-link{
  color: #fff;
  font-weight: 300;
}

a.nav-link:hover,
a.nav-link:focus,
a.nav-link:active{
  color: #fff;
}

a.nav-link:focus,
a.nav-link:active{
  font-weight: 400;
}

footer a{
  color: #802c6e;
  text-decoration: none;
}

@media(max-width: 576px){
  .navbar-brand img{
    width: 100px!important;
  }

  a.nav-link{
    font-size: 14px;
  }
}