.ProductCategoryLink{
    color: #802c6e;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
}

.ProductCategoryLink:hover{
    transition: all ease 0.3s;
    opacity: 0.9;
}

.ProductTitle{
    margin: 10px 0;
    color: #802c6e;
    font-weight: 600;
}

.ProductPrice{
    font-weight: 600;
}